<% if error && error.length > 0 %>
<div class="span-24 notice">
  <%= error %>
</div>
<% end %>

<div class="span-24 last">
  <% if @field_map[:type] == :square %>
    <%= render 'square_map', false %>
  <% else %>
    <%= render 'seq_map', false %>
  <% end %>
</div>

<div class="span-6">
  <p>Правила: <%= @core.rules_name %></p>
  <h4>Локальный Игрок</h4>
  <p class="player_info" id="player_info_<%= @player.game_id %>"><strong><%= @player.name %></strong> (<%= @player.cash %>)</p>
  <% if !@player.posession.empty? %>
    <h5>Владения</h5>
    <ul>
    <% for pos in @player.posession %>
      <li class="<%= class_for_prop pos %>">
      <%= pos.Name %>. магазинов: <%= pos.factories %>, цена прохода: <%= pos.kickback %>
      <% if @network.my_move? %>
      (
        <% if pos.can_sell? %>
          <a href="sell?id=<%= pos.position_id %>">Продать в банк</a>, 
        <% end %>
        <% if pos.deposit %>
          <a href="redeem/<%= pos.position_id %>">Выкупить у банка</a>
        <% elsif pos.can_sell? %>
          <a href="deposit/<%= pos.position_id %>">Заложить в банк</a>
        <% end %>
        <% if @player.can_build?(pos) %>
          <a href="buyfactory/<%= pos.position_id %>">Построить магазин</a>
        <% end %>
        <% if @player.can_destroy?(pos) %>
          <a href="destroyfactory/<%= pos.position_id %>">Продать магазин</a>
        <% end %>
        
      )
      <% end %>
      </li>
    <% end %>
    </ul>  
  <% end %>
  
</div>
<div class="span-6">
  <h4>Сетевые Игроки</h4>
  <ul class="no-bullets">
  <% @network.players.each_pair do |k, v| %>
    <li class="player_info" id="player_info_<%= v.game_id %>"><%= v.name %> (<%= v.cash %>) 
      <% if !@core.game_started? %>
        <br /><% if v.ready %>готов<% else %>не готов<% end %>
      <% else %>
        <br /><% if @network.my_move? %><span id="offer_<%= v.game_id %>" class="make_offer hand" style="display:none;">предложить сделку</span><% end %>
      <% end %>
      <% if !v.posession.empty? %>
        <h5>Владения</h5>
        <ul>
        <% for pos in v.posession %>
          <li class="<%= class_for_prop pos %>"><%= pos.Name %>. магазинов: <%= pos.factories %>, цена прохода: <%= pos.kickback %></li>
        <% end %>
        </ul>
      <% end %>  
    </li>
  <% end %>
  </ul>
  
</div>

<div class="span-12 last">
  <h4>События</h4>
  <ul>
    <% if !@network.game_events.blank? %>
      <% for ev in @network.game_events %>
        <li><%= ev %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<script>
  var _positions_to_load = <%= @core.positions.to_json %>;
  load_positions(_positions_to_load);
  var _properties_to_load = <%= @core.properties.to_json %>;
  load_properties(_properties_to_load);

  var _players_to_load = [ <%= @player.to_js %>, <%= @network.players.map { |pl| pl[1].to_js }.join(',') %>];
  load_players(_players_to_load);
  show_players_icons();

  $(".player").tooltip({
    bodyHandler: player_tooltip,
    showURL: false
  });
  
  $(".property").tooltip({
    bodyHandler: property_tooltip,
    showURL: false
  });

  <% if !@network.mine_trade_offers.blank? %>
    var _trade_offers = <%= @network.mine_trade_offers.to_json %>;
    load_trade_offers(_trade_offers);
  <% end %>
  <% if @network.last_modified %>
    load_last_modified('<%= @network.last_modified %>');
  <% end %>
</script>