<table id="map">
  <% l = @field_map[:length]; props = @core.positions; size = props.size - 1; %>
  <% corners = [0, l-1, 2*(l-1), 3*(l-1), 4*(l-1)] %>
  <tr>
    <% 0.upto(l-1) do |i| %>
      <% pos = get_position(i) %>
      <td class="<%= class_for_pos(pos) %> <% if corners.member?(i) %>corner<%end%>" id="position_<%= pos.Id %>"><%= name_for_pos(pos) %></td>
    <% end %>
  </tr>
  <% 0.upto(l-3) do |i| %>
  <tr>
    <% pos = get_position(size-i) %>
    <td class="<%= class_for_pos(pos) %>" id="position_<%= pos.Id %>"><%= name_for_pos(pos) %></td>

    <td colspan="<%= l-2 %>">
      <% if i == 0 %>
        Ход:
        <% if @core.game_started? %> 
          <%= @core.turn_number %>
        <% elsif @network.can_start? %>
          <a href="begin_game">Начать игру</a>
          <% if @network.players.empty? %> (одному не интересно, давайте кого-нить подождем?) <% end %>
        <% else %>
          Не все игроки готовы, надо подождать
        <% end %>
      <% end %>
      <% if i == 0 and @network.my_move? and @core.game_started? %>
        <% if !@network.thrown_dices? %><a href="throw">Бросить кубики</a><% end %>
        <% if @network.can_buy? %><a href="buy">Купить карточку на текущей позиции</a><% end %>
        <a href="finish_move">Закончить ход</a>
      <% end %>
    </td>

    <% pos = get_position(l+i) %>
    <td class="<%= class_for_pos(pos) %>" id="position_<%= pos.Id %>"><%= name_for_pos(pos) %></td>

  </tr>
  <% end %>
  <tr>
    <% 0.upto(l-1) do |i| %>
      <% pos = get_position(size-l-i+2) %>
      <td class="<%= class_for_pos(pos) %> <% if corners.member?(i) %>corner<%end%>" id="position_<%= pos.Id %>"><%= name_for_pos(pos) %></td>
    <% end %>
  </tr>
</table>
